* {
    margin: 0;
    padding: 0;
}

.content-header {
    width: 100%;
    height: 100hv;
}

.navbar {
    position: fixed;
    width: 100%;
    height: 3rem;
    background-color: rgb(53, 53, 53);
    display: flex;
    box-shadow: 0 0 0.7rem rgba(0, 0, 0, 0.3);
    z-index: 10;
}

.navbar .button-icon2 {
    background: none;
    font-size: 2rem;
    width: 2.1rem;
    margin-left: 94%;
    margin-top: 0.4rem;
    margin-bottom: 0.5rem;
    border-radius: .5rem;
    cursor: pointer;
    &:hover {
        background-color: rgba(128, 128, 128, 0.500);
        
    }
}

.navbar .button-icon2 i {
    color: #fff;
    display: flex;
    font-size: 1.5rem;
    margin-left: 0.2rem;
}

.navbar .button-icon1 {
    background: none;
    font-size: 2rem;
    width: 2.1rem;
    margin-left: 0.5rem;
    margin-top: 0.4rem;
    margin-bottom: 0.5rem;
    border-radius: .5rem;
    cursor: pointer;
    &:hover {
        background-color: rgba(128, 128, 128, 0.500);
        
    }
}

.navbar .button-icon1 i {
    color: #fff;
    display: flex;
    font-size: 1.5rem;
    margin-left: 0.2rem;
}

.sidebar {
    margin-top: 3rem;
    position: fixed;
    width: 13rem;
    height: 100%;
    background-color: rgb(53, 53, 53);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    box-shadow: 0 0 0.7rem rgba(0, 0, 0, 0.3);

    &.close {
        width: 4rem;
    }
}

.sidebar.close~ {
    left: 78px;
    height: 100vh;
    width: calc(100% -78px);
}

.text-sd {
    opacity: 0;
}

.sidebar .text-1 {
    margin-top: 2rem;
    width: 75%;
    border-radius: 1rem;
    background-color: transparent;
    color: #fff;
    cursor: pointer;
    &:hover {
        background-color: rgb(131, 131, 131, 0.500);
        color: #fff;
    }
}

.sidebar .text-1 p {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-size: 1rem;
}

.sidebar .text-2 {
    margin-top: 1rem;
    width: 75%;
    border-radius: 1rem;
    background-color: transparent;
    color: #fff;
    cursor: pointer;
    &:hover {
        background-color: rgb(131, 131, 131, 0.500);
        color: #fff;
    }
}

.sidebar .text-2 p {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-size: 1rem;
}