* {
    margin: 0;
    padding: 0;
}

.content-header {
    width: 100%;
    height: 100hv;
}

.sidebar {
    position: fixed;
    width: 12rem;
    height: 100%;
    background-color: rgb(53, 53, 53);
    display: flex;
    justify-content: center;
    box-shadow: 0 0 0.7rem rgba(0, 0, 0, 0.3);
}

.navbar {
    position: fixed;
    width: 100%;
    height: 4rem;
    background-color: rgb(53, 53, 53);
    display: flex;
    justify-content: center;
    box-shadow: 0 0 0.7rem rgba(0, 0, 0, 0.3);
}
