.container {
    display: grid;
    margin-left: 4.8rem;
    height: 100vh;
}

.main-content h1 {
    padding-bottom: 1.5rem;
}

.main-content {
    display: flex;
    flex-direction: column;
    margin-top: 4rem;
    margin-bottom: 1rem;
    align-items: center;
    height: 25vh;
    text-align: center;
}

.content-form {
    margin-left: 1.5rem;
}

.tip_doc label {
    margin-right: 20rem;
}

.tip_doc select{
    margin-right: 16rem;
    width: 13rem;
    height: 1.3rem;
    margin-top: 0.2rem;
    border-color: rgba(124, 124, 124, 0.747);
    border-radius: 0.5rem;
    background-color: #fff;
    border: 0.1rem solid rgba(128, 128, 128, 0.500);
    padding-left: 0.2rem;
}

.tip_doc select:focus {
    background-color: #fff;
}

.tip_doc {
    height: 0;
}

.num-doc {
    margin-left: 23rem;
    padding-bottom: 0.8rem;
}

.num-doc label {
    margin-right: 13.5rem;
}

.num-doc input{
    margin-left: -11rem;
    width: 13rem;
    height: 1.3rem;
    margin-top: 0.2rem;
    border-color: rgba(124, 124, 124, 0.747);
    border-radius: 0.5rem;
    background-color: #fff;
    border: 0.1rem solid rgba(128, 128, 128, 0.500);
    padding-left: 0.2rem;
}

.num-doc input:focus {
    background-color: #fff;
}

.content1-form {
    margin-left: 3rem;
}

.nombre {
    margin-right: 5rem;
}

.nombre label {
    margin-right: 20rem;
}

.nombre input{
    margin-right: 11rem;
    width: 13rem;
    height: 1.3rem;
    margin-top: 0.2rem;
    border-color: rgba(124, 124, 124, 0.747);
    border-radius: 0.5rem;
    background-color: #fff;
    border: 0.1rem solid rgba(128, 128, 128, 0.500);
    padding-left: 0.2rem;
}

.nombre input:focus {
    background-color: #fff;
}

.apellido {
    margin-left: 23rem;
    padding-bottom: 0.8rem;
    margin-top: -2.8rem;
}

.apellido label {
    margin-right: 19.8rem;
}

.apellido input{
    margin-left: -11rem;
    width: 13rem;
    height: 1.3rem;
    margin-top: 0.2rem;
    border-color: rgba(124, 124, 124, 0.747);
    border-radius: 0.5rem;
    background-color: #fff;
    border: 0.1rem solid rgba(128, 128, 128, 0.500);
    padding-left: 0.2rem;
}

.apellido input:focus {
    background-color: #fff;
}

.correo {
    margin-right: 5rem;
}

.correo label {
    margin-right: 21rem;
}

.correo input{
    margin-right: 11rem;
    width: 13rem;
    height: 1.3rem;
    margin-top: 0.2rem;
    border-color: rgba(124, 124, 124, 0.747);
    border-radius: 0.5rem;
    background-color: #fff;
    border: 0.1rem solid rgba(128, 128, 128, 0.500);
    padding-left: 0.2rem;
}

.correo input:focus {
    background-color: #fff;
}

.telefono {
    margin-left: 23rem;
    padding-bottom: 0.9rem;
    margin-top: -2.8rem;
}

.telefono label {
    margin-right: 20rem;
}

.telefono input{
    margin-left: -11rem;
    width: 13rem;
    height: 1.3rem;
    margin-top: 0.2rem;
    border-color: rgba(124, 124, 124, 0.747);
    border-radius: 0.5rem;
    background-color: #fff;
    border: 0.1rem solid rgba(128, 128, 128, 0.500);
    padding-left: 0.2rem;
}

.telefono input:focus {
    background-color: #fff;
}

.rol label {
    margin-right: 27.2rem;
}

.rol select{
    margin-right: 16rem;
    width: 13rem;
    height: 1.3rem;
    margin-top: 0.2rem;
    border-color: rgba(124, 124, 124, 0.747);
    border-radius: 0.5rem;
    background-color: #fff;
    border: 0.1rem solid rgba(128, 128, 128, 0.500);
    padding-left: 0.2rem;
}

.rol select:focus {
    background-color: #fff;
}

.rol {
    height: 0;
}

.contraseña {
    margin-left: 23rem;
    padding-bottom: 0.8rem;
    margin-top: -0.1rem;
}

.contraseña label {
    margin-right: 18.8rem;
}

.contraseña input{
    margin-left: -11rem;
    width: 13rem;
    height: 1.3rem;
    margin-top: 0.2rem;
    border-color: rgba(124, 124, 124, 0.747);
    border-radius: 0.5rem;
    background-color: #fff;
    border: 0.1rem solid rgba(128, 128, 128, 0.500);
    padding-left: 0.2rem;
}

.contraseña input:focus {
    background-color: #fff;
}

.btn {
    margin-left: 8rem;
    padding-bottom: 0.8rem;
}

.btn input{
    margin-right: 10rem;
    margin-top: 1.4rem;
    width: 8rem;
    border-radius: 0.5rem;
    border-color: rgba(124, 124, 124, 0.747);
    border: 0.1rem solid rgba(128, 128, 128, 0.500);
    padding-bottom: 0.2rem;
    background-color: #cccccc59;
}

.btn input:active {
    background-color: #c0c0c0a8;
}

.editar {
    padding: 0.7rem 0.5rem 0.3rem 0.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
}

.editar i {
    font-size: 1.5rem;
}

.editar:hover {
    background-color: rgba(163, 211, 255, 0.781);
}

.editar:active {
    background-color: rgb(149, 204, 255);
}

.borrar {
    border: none;
    padding: 0.7rem 0.5rem 0.3rem 0.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
    background-color: #fff;
}

.borrar i {
    font-size: 1.5rem;
}

.borrar:hover {
    background-color: rgba(252, 138, 138, 0.726);
}

.borrar:active {
    background-color: rgb(252, 119, 119);
}

a {
    text-decoration: none;
}
